LM/xsd/biblioteca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="biblioteca">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="libro" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nombre" type="xs:string"/>
						<xs:element name="autor" type="xs:string" minOccurs="1" maxOccurs="10"/>
						<xs:element name="editorial" type="xs:string" minOccurs="0" maxOccurs="1"/>
						<xs:element name="paginas" type="xs:integer"/>
						<xs:choice>
							<xs:element name="precio" type="xs:integer"/>
							<xs:element name="precio_con_iva" type="xs:integer"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>